@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: square;
}

h1 {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: bold;
  font-size: x-large;
}

p,
h2,
h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.jetbrain {
  font-family: "JetBrains Mono", sans-serif;
}

.Jakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
}
